/*
   Style sheet for the inventory website.

   @author vera
*/

@font-face {/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
 font-family: "Museo";
 src: url("fonts/Museo/museo-500.eot");
 src: url("fonts/Museo/museo-500.eot?#iefix") format("embedded-opentype"),
      url("fonts/Museo/museo-500.woff") format("woff"),
      url("fonts/Museo/museo-500.ttf") format("truetype"),
      url("fonts/Museo/museo-500.svg#MuseoRegular") format("svg");
 font-weight: normal;
 font-style: normal;
}

* {
	font-family: "Museo";
}

body {
	padding: 0px;
	margin: 0px;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: block;
	padding: 16px 0px 4px 0px;
}

.header a {
	display: block;
}

.header h1 {
	display: inline-block !important;
	font-size: 150%;
}

/* The search field. */
.header input {
	display: inline-block !important;
	font-size: 120%;
	background-image: url('inventory_searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; /* Full-width */
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    box-sizing: border-box;
}

.logoimage {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.logo{
	pointer-events: none;
}

main {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

left {
	flex:1;
}

right{
	flex: 3;
	flex-flow: 1;
	margin-left: 20px;
}

left category {
	display: block;
	padding: 4px;
	border-bottom: 1px solid #f4f7fa;
	cursor: pointer;
}

left category.selected {
	background: #000 !important;
	color: white;
}

left category:hover {
	background: #f4f7fa;
}

right item {
	display: block;
	padding: 1vmax;
	border-bottom: 1px solid rgba(127, 127, 127, 0.2);
	font-size: 1vmax;
}

right itemheader {
	display: block;
}

right itemheader > * {
	font-size: 80%;
}

right itemrow {
	display: flex;
	padding: 1vmin 0px;
}

right itemrow:nth-child(even) {
	background: #f4f7fa
}

allitems {
	display: none;
}

right itemrow itemname{
	flex: 3;
	padding: 0px 8px;
}

right itemrow itemname subinfo {
	display: block;
	font-size: 80%;
	opacity: .5;
}

right itemrow itemname subinfo a:link, 
right itemrow itemname subinfo a:visited,
right itemrow itemname subinfo a:hover,
right itemrow itemname subinfo a:active {
	color: #000;
	text-decoration: none;
}

right itemrow itemprice {
	flex: 1;
	text-align: right;
	padding: 0px 8px;
}

right itemrow.headline itemname {
	font-size: 180%;
}

right itemrow.headline {
	margin-top: 50px;
	background: none;
	padding: 20px 0px;
}

right itemrow.headline:first-child {
	margin-top:  0px;
}

hidden {
	display: none;
}